h2 Våra böcker


form action="login" method="post"
  input name="Buy" placeholder="Buy?" type="text"/
  input type="submit" value="submit"
  

<img src="img/book1.png" alt="book">

h2 = "title:"
h3 = @book[:title]

h2 = "author:"
h3 = @book[:author]

h2 = "price:"
h3 = @book[:price]

