        a = 0
        - @loans.each do |loan|
          - if loan["bookid"] == book["id"]
            a = 1
        - if a == book["id"]



            begin
        db.execute("INSERT INTO loan (bookid, userid) VALUES (?, ?)", [bookid, id])
    rescue Exception
        puts "hej"
    end



    @results = db.execute("SELECT * FROM books")
    @loans = db.execute("SELECT bookid FROM loan WHERE userid = ?", id)
    
    @finalresult = {}
    bookexist = false
    for result in @results do
        puts result
        for loan in @loans do
            puts loan
            if result["id"] == loan["bookid"]
                bookexist = true
            end
        end

        @finalresult.merge(@result)
    end
